body {
    background-color: white;
    width: 100%;
    padding:0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    
}
@font-face {
    font-family: "Open Sans";
    src: url(9142.otf);
}
header .main-menu {
    height:93px;
    margin: 0;
}
header .main-menu > li {
    display: inline-block;
    position: relative;
    margin-top:0;
    float:left;
    list-style: none; 
    border-bottom: 5px solid darkorange;
     
}
header .main-menu > li:hover {
   border-bottom: 5px solid black; 
}
header .main-menu a {
    position: relative;
    display: block;
    padding:30px;
     color: darkorange;
      text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
    }
header .main-menu a:hover {
    background: darkorange;
    color:white;
}
header .main-menu li:nth-child(2) {
    margin-left:10%;
}
header .main-menu li:first-child {
    margin:0;
    height:90px;
}

header .main-menu li:last-child {
    float:right;
}

.jumbotron {
  border-bottom: 4px solid darkorange;
  background-image: url(img/pascal1.jpg);
  height: 150px;
 background-repeat: repeat-y;
  background-size: cover;
  bottom: 100px;
  position: inherit;
    background-attachment: fixed; 
}




 