body {
    background-color: white;
    width: 100%;
    padding:0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    
}
@font-face {
    font-family: "Open Sans";
    src: url(9142.otf);
}
.header .main-menu {
    height:93px;
    margin: 0;
}
.header .main-menu > li {
    display: inline-block;
    position: relative;
    margin-top:0;
    float:left;
    list-style: none; 
    border-bottom: 5px solid darkorange;
     
}
.header .main-menu > li:hover {
   border-bottom: 5px solid black; 
}
.header .main-menu a {
    position: relative;
    display: block;
    padding:30px;
     color: darkorange;
      text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    
    }
.header .main-menu a:hover {
    background: darkorange;
    color:white;
}
.header .main-menu li:nth-child(2) {
    margin-left:10%;
}
.header .main-menu li:first-child {
    margin:0;
    height:90px;
}

.header .main-menu li:last-child {
    float:right;
}

.jumbotron {
  border-bottom: 4px solid darkorange;
  background-image: url(img/pascal1.jpg);
  height: 280px;
 background-repeat: repeat-y;
  background-size: cover;
  bottom: 100px;
  position: inherit;
    background-attachment: fixed; 
}

.headhesive {
   position: fixed;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 1s;
    transition: 1s;
}
.headhesive--stick {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    background: white;
    
    
}
.headhesive--unstick {
    display: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}
/* FOOTER FOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOOTERFOO */
footer {
    border-top: 2px solid darkorange;
    background:-webkit-linear-gradient(top, #a5a5a5 0%, #c9c9c9 100%);
    background:linear-gradient(to bottom, #a5a5a5 0%, #c9c9c9 100%);
}

footer img { float:right;
    margin-top: 70px;
    margin-right: 50px;
    color:linear
}

footer ul {
    padding-top: 20px;
    padding-bottom: 20px;;
    list-style: none;
    padding-left:600px;       
}
footer li {
   padding:9px;
}
footer a {
     text-decoration: none;
     color:#335baa;
     font-size:12px;
     font-weight: bold;
     font-family: Arial, sans-serif;
     
}
footer a:hover {
    font-weight: bolder;
    color: #911E42;
    transition: 0.5s;
    }
footer p {
    text-align: right;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size:10px;
    padding-right: 40px;
    padding-bottom: 20px;
    margin-top: -40px;
}
footer p>a {
    text-align: right;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size:10px;
    color:#15001A;
}
footer h4 { 
    float:left;
    padding-left:20px;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size:20px;
    color:#335baa;
}
footer span {
    color:#15001A;
    font-family: Comic Sans, Comic Sans MS, cursive;
    float:left;
    padding-top:80px;
    margin-left: -20px;
    font-size:14px;
    }
footer span a {
    color:#15001A;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size:14px;
    }
/* ПРО ПАСКАЛЬ ГЛАВНОЕ
ПРО ПАСКАЛЬ ГЛАВНОЕ 
ПРО ПАСКАЛЬ ГЛАВНОЕ 
ПРО ПАСКАЛЬ ГЛАВНОЕ 
ПРО ПАСКАЛЬ ГЛАВНОЕ 
ПРО ПАСКАЛЬ ГЛАВНОЕ 
*/
.aboutpascal {
    color:#15001A;
    background: -webkit-linear-gradient(top,white,#eee);
    background: linear-gradient(to bottom,white,#eee);
    padding-bottom: 20px;
}
.aboutpascal h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    font-weight: 900;
    color:#335baa;
    text-align: center;
}
.aboutpascal p {
     font-family: "Comic Sans" , "Comic Sans MS" , cursive;
    font-size: 16px;
    color:#15001A;
    padding-left:30px;
}
.aboutpascal a {
    color:darkorange;
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size:14px;
    font-weight: bold;
    text-decoration: none;
}
.aboutpascal img {
    float: right;
    height: 500;
    width: 700;
    border-radius: 10px;
}
.aboutpascal h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color:#335baa;
    padding-left:90px;
}
/* ПРО ПАСКАЛЬ ОСОБЛИВОСТІ
ПРО ПАСКАЛЬ ОСОБЛИВОСТІ
ПРО ПАСКАЛЬ ОСОБЛИВОСТІ 
ПРО ПАСКАЛЬ ОСОБЛИВОСТІ 
ПРО ПАСКАЛЬ ОСОБЛИВОСТІ 
ПРО ПАСКАЛЬ ОСОБЛИВОСТІ 
*/
.advantages {
    height: 600px;
    padding-top: 20px;
    background: #eee;
}
.advantages img {
    float: left;
    height: 500;
    width: 700;
    margin-top: 50px;
    padding-right: 5px;
     border-radius: 16px;
}
.advantages h4 {
    text-align: right;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color:#335baa;
    padding-right:90px;
}
.advantages p {
    
     font-family: "Comic Sans" , "Comic Sans MS" , cursive;
    font-size: 16px;
    color:#15001A;
    padding-left:30px;
}
/* ПРО ПАСКАЛЬ ОСОБЛИВОСТІ
ПРО ПАСКАЛЬ ОСОБЛИВОСТІ
ПРО ПАСКАЛЬ ОСОБЛИВОСТІ 
ПРО ПАСКАЛЬ ОСОБЛИВОСТІ 
ПРО ПАСКАЛЬ ОСОБЛИВОСТІ 
ПРО ПАСКАЛЬ ОСОБЛИВОСТІ 
*/
.fishki {
    height: 600px;
    padding-top: 20px;
    background: #eee;
}
.fishki img {
    margin-top: 55px;
    float: right;
    height: 500;
    width: 700;
    border-radius: 15px;
}
.fishki h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color:#335baa;
    padding-left:90px;
}
.fishki p {
    font-family: "Comic Sans" , "Comic Sans MS" , cursive;
    font-size: 16px;
    color:#15001A;
    padding-left:30px;
    
}
/* DEVELOPERS 
DEVELOPERS 
DEVELOPERS 
DEVELOPERS 
DEVELOPERS 
DEVELOPERS 
DEVELOPERS 
*/
#developers {
    padding-top: 10px;
    background: #eee;
    height: 600px;
}
.developers img {
         float:right; 
    margin-top: 150px;
    margin-right: 200px;
}

.developers h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 34px;
    font-weight: 900;
    color:#335baa;
    text-align: center;
}
.developers p {
    font-family: "Comic Sans" , "Comic Sans MS" , cursive;
    font-size: 16px;
    color:#15001A;
    padding-left:30px;
}
.developers li {
    list-style: none;
    padding:20px;
    color:#335baa;
    font-family: "Comic Sans" , "Comic Sans MS" , cursive;
    font-size: 16px;
    font-weight: 500;
}
#circlegame { 
    background: #fff;
    margin: 0;
}
   
    .circle-info h2 {
         font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color:#335baa;
   
        text-align: center;
    }
    .circle-info p {
        
     color:#15001A;
        text-indent: 40px;
        padding-left: 20px;
        padding-right: 20px;
     font-size:16px;
     font-weight: bold;
     font-family: Arial, sans-serif;
    }
    .circle-info table {
        display: block;
        margin: 0 auto;
        border-collapse: collapse;
        margin-bottom: 50px;
    }
    .circle-info tbody {
    }
    .circle-info tr:nth-child(1) {
        color:#15001A;
        
     font-size:16px;
     font-weight: bold;
     font-family: Arial, sans-serif;
    }
    .circle-info td {
        text-align: center;
        padding: 10px;
        border:4px solid darkorange;
    }
.donwload {
    text-align: center;
    margin-top:-50px;
    background: #eee;
}
.donwload h4 {
         font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 900;
    color:darkorange;
   
        text-align: center;
}
.donwload a {
    
    
    box-shadow: 0px 0px 30px #335baa;
    border:4px solid #335baa;
    padding: 10px;
    color:#15001A;
     font-size:16px;
     font-weight: bold;
     font-family: Arial, sans-serif;
    text-decoration: none;
    border-radius: 10px;
}
.donwload a:hover {
    background: #335baa;
    color:white;
-webkit-transition: 0.5s;
transition: 0.5s;
}