
.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #E5E5E5;
}

.main-menu > li {
    display: inline-block;
    margin-right: -4px;
    position: relative;
}

.main-menu a {
    display: block;
    margin-left: -1px;
    padding: 8px 10px;
    color: #0088CC;
    border-left: 1px solid #E5E5E5;
}

.main-menu a:hover {
    background: #f5f5f5;
}

.main-menu .sub-menu {
    position: absolute;
    left: 1px;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: #FCF8E3;
    display:none;
}

.main-menu .sub-menu a {
    margin-bottom: -1px;
    border: 1px solid #E5E5E5;
}

.main-menu > li:hover .sub-menu {
display:block;
}
.main-menu > li > .left {
    float:left;
}


.main {
    position:relative;
    height: 500px
}
.main h2 {
    text-align: center;
    font-family: "Century Gothic",sans-serif;
    font-size: 40px;
    color:#d6b600;
    padding-bottom: 10px;
}
.main p {
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 20px;
    padding-left: 50px;
    padding-top: 10px;
    color:#732884;
}


}
.information h2 {
    text-align: center;
    font-family: "Century Gothic",sans-serif;
    font-size: 46px;
    color:#d6b600;
    border-top:4px solid #ffc400;
    padding-top: 50px;
    }
.information h4 {
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-size: 25px;
    padding-left: 150px;
    padding-top: 10px;
    color:#026db1;
    
}
.information p {
    font-family: Times New Roman, serif;
    font-size: 20px;
    padding-left: 40px;
    text-indent: 20px;
    padding-right: 40px;
}
li {
    color:#ffc400;
     font-family: Times New Roman, serif;
    font-size: 24px;
    padding: 20px;
    margin-left: 100px;
}
.control h2 {
    text-align: center;
    font-family: "Century Gothic",sans-serif;
    font-size: 46px;
    color:#d6b600;
    border-top:4px solid #ffc400;
    padding-top: 50px;
    }


.thumbnail {
    margin-left:10px;
    margin-right:10px;
}

header {
    height: 10%;
    width: 100%;
}

.pull-left {
    float:left;
}
